* text eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

.github/ export-ignore
tests/ export-ignore
CHANGELOG.md export-ignore
LICENSE.md export-ignore
SECURITY.md export-ignore

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.eot binary
*.woff binary